*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/config/database.php
*/config/config.php
*/config/postmark.php
*/config/s3.php
*/logs/* 
images/captcha/*
nbproject/*
stats/*
.htaccess
*.*~
